/* --- Create your own CSS Here */

#page-contents-o-dclbnq121::-webkit-scrollbar {
  display: none !important;
}

#page-contents-o-dclbnq121 {
  -ms-overflow-style: none !important; /* IE and Edge */
  scrollbar-width: none !important; /* Firefox */
}

.page-content::-webkit-scrollbar {
  width: 0px !important;
  display: block !important;
  background-color: transparent !important;
  border: 0px transparent !important;
}

.page-content {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;
}
.item-input-wrap {
    position: relative;
}
input[type="image"].firebase_document_preview::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;  /* Or you can set it to a color to mask the entire input */
    z-index: 2;
}