/* --- Create your own CSS Here */

#page-contents-o-dclbnq121::-webkit-scrollbar {
  display: none !important;
}

#page-contents-o-dclbnq121 {
  -ms-overflow-style: none !important; /* IE and Edge */
  scrollbar-width: none !important; /* Firefox */
}

.page-content::-webkit-scrollbar {
  width: 0px !important;
  display: block !important;
  background-color: transparent !important;
  border: 0px transparent !important;
}

.page-content {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;
}
